/**
 * Created by isp on 12/5/15.
 */

body {
    margin: 0;
    background: #005760;
}

.mainWidget {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: absolute;
}

.widgetContent {
    width: inherit;
    height: inherit;
    overflow: hidden;
}

div.animizer-background {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 0;
}

canvas.animizer-canvas-main {
    display: block;
    position: absolute;
    overflow: hidden;
    z-index: 3;
    margin-top: 30px;
}

canvas.animizer-canvas-main2 {
    display: block;
    position: absolute;
    overflow: hidden;
    z-index: 3;
    margin-top: 360px;
}

canvas.animizer-canvas-second {
    display: none;
    position: absolute;
    overflow: hidden;
    z-index: 2;
    margin-top: 30px;
}

canvas.animizer-canvas-hover {
    display: none;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    margin-top: 30px;
}

div.buttons {
    width: 500px;
    position: absolute;
    margin: 5px;
}

div.buttons2 {
    width: 500px;
    position: absolute;
    margin: 5px;
    margin-top: 330px;
}

canvas#animationLayer {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 0;
}

@font-face {
    font-family: "MuseoSansLight";
    src: url("../fonts/MuseoSansLight/MuseoSansLight.eot");
    src: url("../fonts/MuseoSansLight/MuseoSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansLight/MuseoSansLight.woff") format("woff"),
    url("../fonts/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

div.header {
    width: 100%;
    height: 30px;
    position: absolute;
    text-align: center;
    padding: 15px;
    color: #fff;
    font-family: MuseoSansLight, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}

div#styleSwitch {
    background: #ccc;
}

div#line, div#bar, div#map {
    cursor: pointer;
    background: #585858;
    font-family: MuseoSansLight, sans-serif;
}

p#mainLabel {
    margin: 0;
    color: #FF9800;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

p#secondaryLabel {
    color: #fff;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    margin: 0;
    padding: 10px;
}

div#line:hover, div#bar:hover, div#map:hover {
    background: #9e9e9e;
}